
/* Grids */
.lsedit__row {
	margin-left: -20px;
}
.lsedit__row:after {
	content: '';
	display: block;
	clear: both;
}
.lsedit__column {
	float: left;
	width: calc( 50% - 20px );
	margin: .5em 0 .5em 20px;
}
.lsedit__column:nth-child( 2n+1 ) {
	clear: left;
}

/* 3 rows */
.lsedit__row--3cols .lsedit__column {
	width: calc( 33.3% - 20px );
}
.lsedit__row--3cols .lsedit__column:nth-child( 2n+1 ) {
	clear: none;
}
.lsedit__row--3cols .lsedit__column:nth-child( 3n+1 ) {
	clear: both;
}

/* Small screens */
@media (max-width: 782px) {
	.lsedit__row .lsedit__column {
		float: none;
		width: calc( 100% - 20px );
	}
}

/* Fields */
.lsedit__column input,
.lsedit__column select {
	display: block;
	width: 100%;
}

/* Location Address Map */
#location_address__map {
	clear: both;
	width: 100%;
	height: 400px;
}
