
// Media Upload Fields
.locsearch_mediaupload {
	width: 220px;
	border-radius: 5px;
	border: 1px solid #DDD;
	padding: 10px;
	overflow: hidden;
}
.locsearch_mediaupload__preview {
	img {
		display: block;
		margin: 0 auto 10px;
		max-width: 50px;
		height: auto;
	}
}
.locsearch_mediaupload__field {}
.locsearch_mediaupload__upload,
.locsearch_mediaupload__reset {
	width: 49%;
	box-sizing: border-box;
}
.locsearch_mediaupload__upload {
	float: left;
}
.locsearch_mediaupload__reset {
	float: right;
}
